# <div style="display:fill;border-radius:5px;background-color:#676F9F;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:#F1EFF5;overflow:hidden;margin:0;font-size:150%;font-style: Helvetica;text-align:center"><b></b>WHAT IF DOCTORüßë‚Äç‚öïÔ∏è PREPARES AN AI MODEL??ü§î</p></div>

In the previous notebook, we have seen the overview and objective of the notebook. In this notebook, lets explore the dataset we are working in...

## <font color='#4287f5'>Importing necessary libraries...</font>

In [1]:
import pandas as pd                       # library for data manipulation (data cleaning,analysing...)
import numpy as np                        # library for numerical computation
import matplotlib.pyplot as plt           # library for data visualization which is built on NumPy arrays
%matplotlib inline
import seaborn as sns                     # library for data visualization built on top of matplotlib and 
                                          # closely integrated with pandas data structures in Python.

import random

import warnings                           # to avoid warning flash
warnings.filterwarnings('ignore')

# Other libraries will be imported in the following steps as the process moves....

In [2]:
df = pd.read_csv(r'D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\4.BLOOD_REPORT_WRANGLING\all_reports.csv')

In [3]:
# Lets get the maximum output by setting the options in pandas
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [6]:
df

       ID  age  sex  Hb_level  RBC_count  MCV    HCT    MCH   MCHC   WBC  Neutrophils  Lymphocytes  Monocytes  Eosinophils  Basophils  Platelet_count  Sodium_level  Potassium_level  Chloride_level  Bicarbonate_level  Blood_urea_level  Serum_creatinine_level  FPG  OGTT   A1C  Conjugated_Bilirubin_count  Unconjugated_Bilirubin_count  Total_Bilirubin_count  Conjugated/Total_bilirubin_Ratio  urine_bile_salts  AST  ALT  ALP  Serum_albumin
0       0   69    1     11.51       4.63   82  37.97  24.86  30.31  14.0         9.52         3.66       1.18         0.22       0.45            5.92           155              3.7             113                 25               3.5                      75  155   337  7.31                        0.29                          0.54                   0.83                              34.9                 2   55   70  433           3.55
1       1   63    1      4.66       2.93   77  22.56  15.90  20.66  11.8         8.03         3.09       0.99         0.19       0.38            0.84           134              4.9              86                 26               6.2                      99  157   232  6.53                        0.84                          6.95                   7.79                              10.8                 1  128  168  235           1.82
2       2   33    0     12.29       4.09   76  31.08  30.05  39.54   3.1         2.11         0.81       0.26         0.05       0.10            4.27           149              3.9              86                 28               1.9                      90   71   137  4.60                        0.26                          3.34                   3.60                               7.2                 2   28   10   88           3.71
3       3   35    0      6.56       2.65   70  18.55  24.75  35.36  16.7        11.36         4.37       1.40         0.27       0.53            1.38           127              3.0             111                 21               8.6                     106   72   112  4.99                        0.16                          3.49                   3.65                               4.4                 2   14    9  111           4.54
4       4   31    0      7.80       2.60   90  23.40  30.00  33.33  14.9        10.14         3.90       1.25         0.24       0.47            2.74           151              3.8              87                 26               3.0                      91  153   350  7.85                        1.15                          4.17                   5.32                              21.6                 1  194   81  269           2.90
..    ...  ...  ...       ...        ...  ...    ...    ...    ...   ...          ...          ...        ...          ...        ...             ...           ...              ...             ...                ...               ...                     ...  ...   ...   ...                         ...                           ...                    ...                               ...               ...  ...  ...  ...            ...
995   995   46    0      9.15       4.73   89  42.10  19.34  21.73  13.7         9.32         3.58       1.15         0.22       0.44            2.09           148              5.3             107                 25               8.8                      86   92   112  4.93                        0.14                          4.36                   4.50                               3.1                 2   10   16   31           4.58
996   996   51    1     13.89       4.83   92  44.44  28.76  31.26  10.4         7.08         2.72       0.87         0.17       0.33            2.04           137              5.0              87                 32               5.1                      59  111   200  5.35                       10.55                          6.58                  17.13                              61.6                 2   95   57  478           4.68
997   997   28    1      8.15       3.55   87  30.88  22.96  26.39  12.7         8.64         3.32       1.07         0.20       0.40            2.26           139              5.5             115                 24               4.7                      72   77   120  5.10                        2.30                          8.37                  10.67                              21.6                 1  198   91  126           2.72
998   998   67    0      7.63       2.54   79  20.07  30.04  38.02  10.3         7.01         2.69       0.87         0.16       0.33            3.14           151              3.5             109                 28               1.8                      66   90   113  5.68                        0.18                          0.43                   0.61                              29.5                 2  114   67  980           3.62
999  1000   44    1     14.42       5.35   94  50.29  26.95  28.67  10.3         7.01         2.69       0.87         0.16       0.33            4.86           155              4.1             101                 26               7.2                      71  168   316  7.30                       13.87                          2.66                  16.53                              83.9                 2   70   57  761           4.88

[1000 rows x 34 columns]

What we are seeing above is the static dataset generated in the hospital. What is 'static' in the statement made before?
* Well,'Static' refers to the unchangeable form of the dataset i.e, once and for all.In this case, the above dataset is designed over a period of time. Blood reports of many patients are aggregated into a single dataframe and made ready for analysis. These type of datasets can be mainly used for study purposes. What is dynamic then?
* Dynamic refers to the generation of dataset which constantly changes with respect to time. For ex: vitals data of a patient who is in Intensive Care Unit of the hospital. Also, serial blood reports of a patient during total hospitalisation stay, is somewhat relatively a dynamic dataset. These type of datasets can be used for real-time patient care if the field of Data Science in healthcare is advanced.

I am not a Physician in USA. In the introduction, I have told that I am a normal General Doctor working in a tertiary care hospital with moderate infrastructural set-up. I know the problems here as I have been in this ecosystem since 8 years. Here, there are 2-3 nursing staffs available for a ward which can occupy nearly 40 patients. I cant expect much from the nurses in maintaining health specific data as they will be tired and pissed off with the huge work load. By the time, they see treatment charts of the patients and deliver the same to them on time will be the greatest work which they can contribute to healthcare.

There's a huge scope for improvement in the field of healthcare if there is integration of Data Science into it. Infact, revolution can occur in the field of healthcare if it is updated in a way in which best results can be obtained from it.

### Lets talk about the way blood reports are generated?

* Blood reports take time to get generated. The reason behind is that different tests take different time to come up with the results. Most in-hospital results can be obtained within three to six hours after taking the blood. Sometimes blood drawn at other,non-hospital facilities can take several days to get results.
* Location can play a factor into how fast you will get your results back. For example, going to a place where there's an on-site laboratory(such as a hospital) may get you results more quickly than if your blood has to be sent to another laboratory. Specialty tests for rare conditions often need to be sent to specific laboratories.
* Somtimes,how quickly the blood tests take depends on how common the blood test is. Blood tests performed more often,such as a CBC or metabolic panel, are usually available more quickly than tests for rare conditions.
* With innovations in quick testing, many more laboratory tests are available sooner than ever before. However, it's often important that your doctor do a careful review before passing along the results. Asking a doctor or laboratory technicians about how long average tests will take can help you to establish a realistic time frame for getting results.

### Why did I mention the above info and what is it to do with the project?

* Projects done from static blood reports and results obtained after analyzing the results might become an unused piece of stuff in the famous journals which are kept peacefully in the library. 
* Whereas imagine if you are given a responsibility of analysing the dynamic real time health data about a person when he/she is hospitalized and you are asked to monitor the vital records of the same. If we can create the best algorithms by discussing with the Medico's and if the Medico is happy with the real time insights about the blood reports, he/she can spend more time on the very choice of treatment that they can offer to patients. Infact, after going through the principles of data science and machine learning, as a Doctor, I can even say that AI can also make decisions on the choice of treatment for a particular case.
* Imagine, if this happened and if we can fully harness the power of AI in healthcare, doctors can be utilised for more complicated challenges like emergency healthcare services, in primary and secondary health care setups in the developing countries.

### Lets talk about the dataset...

The dataset consists of blood reports of thousand patients. Blood report of each patient is filled in a row of the dataframe and it includes results of **Complete_Blood_Count**,**Liver_Function_Tests**,part of **Renal_Function_Tests**,**Diabetic_profile**,**Serum_Electrolytes** and so on.

In [7]:
# let see the features present in our dataset
df.columns

Index(['ID', 'age', 'sex', 'Hb_level', 'RBC_count', 'MCV', 'HCT', 'MCH', 'MCHC', 'WBC', 'Neutrophils', 'Lymphocytes', 'Monocytes', 'Eosinophils', 'Basophils', 'Platelet_count', 'Sodium_level', 'Potassium_level', 'Chloride_level', 'Bicarbonate_level', 'Blood_urea_level', 'Serum_creatinine_level', 'FPG', 'OGTT', 'A1C', 'Conjugated_Bilirubin_count', 'Unconjugated_Bilirubin_count', 'Total_Bilirubin_count', 'Conjugated/Total_bilirubin_Ratio', 'urine_bile_salts', 'AST', 'ALT', 'ALP', 'Serum_albumin'], dtype='object')

* **Complete_Blood_Count** includes features from 'Hb_level' to 'Platelet_count'
* **Serum_Electrolytes** includes features from 'Sodium_level' to 'Bicarbonate_level'
* **Renal_Function_Tests** includes features such as 'Serum_creatinine_level' and 'Blood_urea_level'.
* **Diabetic_profile** includes features such as 'FPG','OGTT','A1C'
* **Liver_Function_Tests** includes features from 'Conjugated_Bilirubin_count' to 'Serum_albumin'.

The units for values of each features is different and its not mentioned in the dataset. Lets do it now...

* Hb_level           ---> g/dl
* RBC_count          ---> million cells/¬µL
* MCV                ---> fL
* MCH                ---> picogram per cell
* MCHC               ---> g/dl
* HCT                ---> %
* Neutrophils,Monocytes,Eosinophils,Basophils -> all expressed as % of cells out of WBC
* Platelet_count     ---> value x 10^5 cells/¬µL
* Electrolytes       ---> mmol/L
* Blood_urea_level   ---> mmol/L
* Serum_Creatinine   ---> mg/dL
* FPG,OGTT           ---> mg/dl
* HbA1c              ---> %
* Bilirubin_count    ---> mg/dL
* AST,ALT,ALP        ---> IU/L
* Serum_albumin      ---> g/dL

What do you think on how I downloaded this dataset? is it from the website 'data.gov.in' or 'ML UCI repository' or is it from 'Kaggle'?

Some of you might even be thinking I am using the health records of the patients collected from the hospital I'm working in...

I am sorry for those who are thinking in above terms because the dataset is neither collected from any hospital nor downloaded. Its a dummy dataset as it is created by myself for intuition purpose. Then, how did I CREATED this dataset? Follow the notebook inorder to get this....

Lets first insert the 'ID','age' and 'sex' columns to the dataset.

In [8]:
ID = list(np.linspace(0,1000,1000).astype(int))

In [9]:
age = np.random.normal(50, 15, 1000).astype(int).tolist()
age = [(x + 10) if x < 5 else x for x in age]   # I dont want to include the cases who are less than 5 years old...

In [10]:
# 1 - male
# 0 - female
sex = []
for i in range(0,1000):
    x = random.randint(0, 1)
    sex.append(x)

In [11]:
Anemic_status = []
for i in range(0,1000):
    x = random.randint(0, 3)
    Anemic_status.append(x)

In [12]:
# create a DataFrame
Report = {'ID': ID,'age': age,'sex': sex,'Anemic_status': Anemic_status}
data = pd.DataFrame(Report)

In [13]:
data

       ID  age  sex  Anemic_status
0       0   70    1              1
1       1   36    1              2
2       2   72    0              3
3       3   48    1              2
4       4   53    1              3
..    ...  ...  ...            ...
995   995   53    1              2
996   996   49    0              1
997   997   53    1              3
998   998   87    1              3
999  1000   71    1              3

[1000 rows x 4 columns]

In [14]:
data.insert(4,'Hb_level',True)

In [15]:
def get_Hb_level(x):
    if x == 0:
        return round(random.uniform(13,16),2)
    elif x == 1:
        return round(random.uniform(9,13),2)
    elif x == 2:
        return round(random.uniform(6,9),2)
    else:
        return round(random.uniform(2,6),2)

In [16]:
data['Hb_level'] = data['Anemic_status'].apply(lambda x: get_Hb_level(x))

In [18]:
data.insert(5,'RBC_count',True)

In [19]:
# RBC_count in (value x 10^12/L)
def f(x):
    if x['sex'] == 0 and x['Anemic_status'] == 0:
        return round(random.uniform(3.5,5.0),2)
    elif x['sex'] == 0 and x['Anemic_status'] == 1:
        return round(random.uniform(3.2,4.8),2)
    elif x['sex'] == 0 and x['Anemic_status'] == 2:
        return round(random.uniform(2.5,3.2),2)
    elif x['sex'] == 0 and x['Anemic_status'] == 3:
        return round(random.uniform(1.8,2.5),2)
    elif x['sex'] == 1 and x['Anemic_status'] == 0:
        return round(random.uniform(4.5,5.5),2)
    elif x['sex'] == 1 and x['Anemic_status'] == 1:
        return round(random.uniform(4.0,4.8),2)
    elif x['sex'] == 1 and x['Anemic_status'] == 2:
        return round(random.uniform(3.0,4.0),2)
    else:
        return round(random.uniform(2.0,3.0),2)

In [20]:
data['RBC_count'] = data.apply(f, axis=1)

In [22]:
data.insert(6,'MCV',True)

In [23]:
# MCV in fL
def get_MCV(x):
    if x == 0:
        return random.randint(80,100)
    elif x == 1:
        return random.randint(75,95)
    elif x == 2:
        return random.randint(70,90)
    else:
        return random.randint(65,85)

In [24]:
data['MCV'] = data['Anemic_status'].apply(lambda x: get_MCV(x))

In [26]:
data.insert(7,'HCT',True)

In [27]:
data['HCT'] = (data['RBC_count'].multiply(data['MCV']))/10

In [28]:
data['HCT'] = round(data['HCT'],2)

In [30]:
data.insert(8,'MCH',True)

In [31]:
data['MCH'] = (data['Hb_level'].multiply(10))/data['RBC_count']

In [32]:
data['MCH'] = round(data['MCH'],2)               # normal range : 26-36pg

In [34]:
data.insert(9,'MCHC',True)

In [35]:
data['MCHC'] = (data['Hb_level'].multiply(100))/data['HCT']

In [36]:
data['MCHC'] = round(data['MCHC'],2)               # normal range : 30-36%

In [38]:
data.insert(10,'WBC',True)

In [39]:
def get_WBC(x):
    return round(random.uniform(3,19),1)

In [40]:
data['WBC'] = data['WBC'].apply(lambda x: get_WBC(x))

In [41]:
data['Neutrophils'] = (data['WBC'].multiply(round(random.uniform(50,70),2))/100)

In [42]:
data['Neutrophils'] = round(data['Neutrophils'],2)

In [43]:
data['Lymphocytes'] = (data['WBC'].multiply(round(random.uniform(20,40),2))/100)

In [44]:
data['Lymphocytes'] = round(data['Lymphocytes'],2)

In [45]:
data['Monocytes'] = (data['WBC'].multiply(round(random.uniform(5,10),2))/100)

In [46]:
data['Monocytes'] = round(data['Monocytes'],2)

In [47]:
data['Eosinophils'] = (data['WBC'].multiply(round(random.uniform(0,2),2))/100)

In [48]:
data['Eosinophils'] = round(data['Eosinophils'],2)

In [49]:
data['Basophils'] = (data['WBC'].multiply(round(random.uniform(2,4),2))/100)

In [50]:
data['Basophils'] = round(data['Basophils'] ,2)

In [52]:
data.insert(16,'Platelet_count',True)

In [53]:
Platelet_count = []
for i in range(0,1000):    
    x = round(random.uniform(0.4,6),2)     # normal range of platelets 1.5 - 4 Lakhs/L
    Platelet_count.append(x)

In [54]:
data['Platelet_count'] = Platelet_count

In [55]:
Sodium_level = []
for i in range(0,1000):    
    x = random.randint(125,155)     # normal range 125 - 145 mmol/L
    Sodium_level.append(x)
    
Potassium_level = []
for i in range(0,1000):    
    x = round(random.uniform(2.8,5.5),1)    # normal range 3.6 - 5.2 mmol/L
    Potassium_level.append(x)
    
Chloride_level = []
for i in range(0,1000):    
    x = random.randint(86,115)     # normal range 96 - 106 mmol/L
    Chloride_level.append(x)
    
Bicarbonate_level = []
for i in range(0,1000):    
    x = random.randint(16,35)     # normal range 22 - 29 mmol/L
    Bicarbonate_level.append(x)

Blood_urea_level = []
for i in range(0,1000):    
    x = round(random.uniform(1.2,9.0),1)    # normal range 2.1 - 8.5 mmol/L
    Blood_urea_level.append(x)

Serum_creatinine_level = []
for i in range(0,1000):    
    x = random.randint(55,120)     # normal range 66 - 112 micro-mol/L
    Serum_creatinine_level.append(x)

In [56]:
data['Sodium_level'] = Sodium_level
data['Potassium_level'] = Potassium_level
data['Chloride_level'] = Chloride_level
data['Bicarbonate_level'] = Bicarbonate_level
data['Blood_urea_level'] = Blood_urea_level
data['Serum_creatinine_level'] = Serum_creatinine_level

In [57]:
data

       ID  age  sex  Anemic_status  Hb_level  RBC_count  MCV    HCT    MCH   MCHC   WBC  Neutrophils  Lymphocytes  Monocytes  Eosinophils  Basophils  Platelet_count  Sodium_level  Potassium_level  Chloride_level  Bicarbonate_level  Blood_urea_level  Serum_creatinine_level
0       0   70    1              1     12.67       4.10   82  33.62  30.90  37.69   4.1         2.70         1.21       0.22         0.05       0.12            4.34           154              3.8             106                 25               6.8                      92
1       1   36    1              2      8.61       3.90   72  28.08  22.08  30.66   6.5         4.28         1.93       0.35         0.07       0.19            4.30           154              3.4             111                 35               6.9                      91
2       2   72    0              3      5.56       2.27   75  17.02  24.49  32.67   5.1         3.36         1.51       0.28         0.06       0.15            1.32           135              3.7             113                 25               8.9                     108
3       3   48    1              2      7.38       3.14   77  24.18  23.50  30.52  17.3        11.39         5.12       0.94         0.19       0.50            1.37           137              4.1              95                 18               2.0                      74
4       4   53    1              3      4.27       2.73   67  18.29  15.64  23.35   5.9         3.88         1.75       0.32         0.07       0.17            5.90           138              3.3              92                 32               5.9                     112
..    ...  ...  ...            ...       ...        ...  ...    ...    ...    ...   ...          ...          ...        ...          ...        ...             ...           ...              ...             ...                ...               ...                     ...
995   995   53    1              2      8.90       3.68   76  27.97  24.18  31.82   8.7         5.73         2.58       0.47         0.10       0.25            2.48           149              3.6              89                 33               6.0                      73
996   996   49    0              1     11.29       4.71   84  39.56  23.97  28.54  11.4         7.50         3.38       0.62         0.13       0.33            2.40           128              4.7              94                 19               5.8                      94
997   997   53    1              3      3.09       2.27   66  14.98  13.61  20.63  10.8         7.11         3.20       0.59         0.12       0.31            4.31           152              3.9              96                 30               7.8                      97
998   998   87    1              3      3.89       2.79   66  18.41  13.94  21.13  13.3         8.75         3.94       0.72         0.15       0.38            0.53           138              4.6             100                 21               3.4                     118
999  1000   71    1              3      2.97       2.48   78  19.34  11.98  15.36  10.5         6.91         3.11       0.57         0.12       0.30            5.92           127              2.9             111                 22               7.4                      69

[1000 rows x 23 columns]

This is how I build a dummy dataset. I believe we can make machine think by feeding them with the carefully designed dummy datasets which on comparison, looks similar to the real dataset...

For a detailed explanation of the dataset, refer my 3rd notebook of this project...

## THANK YOU....