
# <div style="display:fill;border-radius:5px;background-color:#676F9F;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:#F1EFF5;overflow:hidden;margin:0;font-size:150%;font-style: Helvetica;text-align:center"><b></b>WHAT IF DOCTORüßë‚Äç‚öïÔ∏è PREPARES AN AI MODEL??ü§î</p></div>

In the previous notebook, I focused on preparing a dataset which pretty much similar to the real world dataset on comparison.In this notebook, lets explore the dataset...

## <font color='#4287f5'>Importing necessary libraries...</font>

In [1]:
import pandas as pd                       # library for data manipulation (data cleaning,analysing...)
import numpy as np                        # library for numerical computation
import matplotlib.pyplot as plt           # library for data visualization which is built on NumPy arrays
%matplotlib inline
import seaborn as sns                     # library for data visualization built on top of matplotlib and 
                                          # closely integrated with pandas data structures in Python.

import random

import warnings                           # to avoid warning flash
warnings.filterwarnings('ignore')

# Other libraries will be imported in the following steps as the process moves....

In [2]:
df = pd.read_csv(r'D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\5.BLOOD_REPORT_WRANGLING\all_reports.csv')

In [3]:
df

,ID,age,sex,Hb_level,RBC_count,MCV,HCT,MCH,MCHC,WBC,...,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,4.62,79,36.50,24.65,31.21,3.4,...,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,3.13,82,25.67,25.30,30.85,18.0,...,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,4.39,81,35.56,20.98,25.90,15.7,...,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,5.08,94,47.75,29.57,31.46,5.5,...,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,4.79,77,36.88,26.05,33.84,4.7,...,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,3.06,84,25.70,27.91,33.23,9.8,...,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,3.97,82,32.55,27.83,33.95,11.4,...,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,4.08,86,35.09,32.72,38.05,10.3,...,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,4.55,92,41.86,22.15,24.08,12.9,...,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2.80,83,23.24,24.18,29.13,3.9,...,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [4]:
df.head()

,ID,age,sex,Hb_level,RBC_count,MCV,HCT,MCH,MCHC,WBC,...,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,4.62,79,36.50,24.65,31.21,3.4,...,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,3.13,82,25.67,25.30,30.85,18.0,...,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,4.39,81,35.56,20.98,25.90,15.7,...,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,5.08,94,47.75,29.57,31.46,5.5,...,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,4.79,77,36.88,26.05,33.84,4.7,...,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16

In [5]:
df.shape

(1000, 34)

In [6]:
df.columns

Index(['ID', 'age', 'sex', 'Hb_level', 'RBC_count', 'MCV', 'HCT', 'MCH',
       'MCHC', 'WBC', 'Neutrophils', 'Lymphocytes', 'Monocytes', 'Eosinophils',
       'Basophils', 'Platelet_count', 'Sodium_level', 'Potassium_level',
       'Chloride_level', 'Bicarbonate_level', 'Blood_urea_level',
       'Serum_creatinine_level', 'FPG', 'OGTT', 'A1C',
       'Conjugated_Bilirubin_count', 'Unconjugated_Bilirubin_count',
       'Total_Bilirubin_count', 'Conjugated/Total_bilirubin_Ratio',
       'urine_bile_salts', 'AST', 'ALT', 'ALP', 'Serum_albumin'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                1000 non-null   int64
 1   age                               1000 non-null   int64
 2   sex                               1000 non-null   int64
 3   Hb_level                          1000 non-null   float64
 4   RBC_count                         1000 non-null   float64
 5   MCV                               1000 non-null   int64
 6   HCT                               1000 non-null   float64
 7   MCH                               1000 non-null   float64
 8   MCHC                              1000 non-null   float64
 9   WBC                               1000 non-null   float64
 10  Neutrophils                       1000 non-null   float64
 11  Lymphocytes                       1000 non-null   float64
 12  Monocytes                         1000 non-null   float64
 13  Eosinophils                       1000 non-null   float64
 14  Basophils                         1000 non-null   float64
 15  Platelet_count                    1000 non-null   float64
 16  Sodium_level                      1000 non-null   int64
 17  Potassium_level                   1000 non-null   float64
 18  Chloride_level                    1000 non-null   int64
 19  Bicarbonate_level                 1000 non-null   int64
 20  Blood_urea_level                  1000 non-null   float64
 21  Serum_creatinine_level            1000 non-null   float64
 22  FPG                               1000 non-null   int64
 23  OGTT                              1000 non-null   int64
 24  A1C                               1000 non-null   float64
 25  Conjugated_Bilirubin_count        1000 non-null   float64
 26  Unconjugated_Bilirubin_count      1000 non-null   float64
 27  Total_Bilirubin_count             1000 non-null   float64
 28  Conjugated/Total_bilirubin_Ratio  1000 non-null   float64
 29  urine_bile_salts                  1000 non-null   int64
 30  AST                               1000 non-null   int64
 31  ALT                               1000 non-null   int64
 32  ALP                               1000 non-null   int64
 33  Serum_albumin                     1000 non-null   float64
dtypes: float64(21), int64(13)
memory usage: 265.8 KB

All of the features are either in integer or float datatype...

In [8]:
df.describe()

,ID,age,sex,Hb_level,RBC_count,MCV,HCT,MCH,MCHC,WBC,...,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,499.501000,49.393000,0.514000,9.306400,3.583600,82.525000,30.114110,24.976910,30.098630,11.009300,...,6.564870,2.686370,5.41365,8.100020,32.545300,1.762000,84.510000,63.834000,429.552000,4.02891
std,288.821169,14.571921,0.500054,4.207862,1.010682,8.471667,10.518903,7.186719,7.698719,4.623858,...,0.967544,4.029592,3.95513,6.119731,31.520818,0.426072,51.880415,51.101466,332.944427,1.02296
min,0.000000,9.000000,0.000000,2.030000,1.800000,65.000000,12.420000,7.150000,9.160000,3.000000,...,4.500000,0.100000,-0.17000,0.100000,0.800000,1.000000,5.000000,0.000000,30.000000,1.50000
25%,249.750000,39.000000,0.000000,5.917500,2.710000,77.000000,20.517500,20.620000,25.497500,6.900000,...,5.862500,0.210000,0.71750,0.920000,7.850000,2.000000,40.000000,25.000000,115.750000,3.53000
50%,499.500000,49.000000,1.000000,9.200000,3.665000,82.000000,30.390000,25.480000,30.590000,10.900000,...,6.750000,0.370000,5.62000,7.975000,24.200000,2.000000,78.000000,51.000000,328.500000,4.20000
75%,749.250000,60.000000,1.000000,13.312500,4.492500,88.000000,38.710000,29.482500,34.922500,15.100000,...,7.330000,2.712500,8.74250,11.750000,45.725000,2.000000,119.000000,79.000000,703.000000,4.84000
max,1000.000000,102.000000,1.000000,15.990000,5.490000,100.000000,54.350000,45.210000,54.750000,19.000000,...,8.000000,14.900000,14.11000,17.990000,254.500000,2.000000,200.000000,200.000000,1100.000000,5.50000

In [9]:
df.isnull().sum()

ID                                  0
age                                 0
sex                                 0
Hb_level                            0
RBC_count                           0
MCV                                 0
HCT                                 0
MCH                                 0
MCHC                                0
WBC                                 0
Neutrophils                         0
Lymphocytes                         0
Monocytes                           0
Eosinophils                         0
Basophils                           0
Platelet_count                      0
Sodium_level                        0
Potassium_level                     0
Chloride_level                      0
Bicarbonate_level                   0
Blood_urea_level                    0
Serum_creatinine_level              0
FPG                                 0
OGTT                                0
A1C                                 0
Conjugated_Bilirubin_count          0
Unconjugated_Bilirubin_count        0
Total_Bilirubin_count               0
Conjugated/Total_bilirubin_Ratio    0
urine_bile_salts                    0
AST                                 0
ALT                                 0
ALP                                 0
Serum_albumin                       0
dtype: int64

Since the dataset is hand made, there are no missing values but in real world, the dataset usually will be filled with more number of missing values. Don't be too happy, the real world dataset is not so pure as we have here. Most of the datasets contain more number of data bugs than being the pure one which I have here.

In [10]:
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

### What is the target variable in this dataset?

The target variable is not yet inserted yet to the dataset !!!
In this dataset, I would like to insert as many target variables as possible so that I can prepare many AI models out of it....

In [11]:
# first target variable -- 'Anemic_status'

In [12]:
df.insert(4,'Anemic_status',True)

In [13]:
def get_Anemic_status(x):
    if x >= 12.5:
        return 0       # normal
    elif x >= 9 and x < 12.5:
        return 1       # mild anaemia
    elif x >= 6 and x < 9:
        return 2       # moderate anaemia
    else:
        return 3       # severe anaemia

In [14]:
df['Anemic_status'] = df['Hb_level'].apply(lambda x: get_Anemic_status(x))

In [15]:
df

,ID,age,sex,Hb_level,Anemic_status,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet_count,Sodium_level,Potassium_level,Chloride_level,Bicarbonate_level,Blood_urea_level,Serum_creatinine_level,FPG,OGTT,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,5.90,138,2.8,94,33,2.4,5.45,128,279,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,1.76,154,4.9,97,22,5.3,1.53,173,236,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,4.75,149,4.3,99,20,2.2,3.89,198,318,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,2.56,139,4.4,107,31,3.5,2.61,197,271,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1.29,150,3.8,108,18,4.4,7.21,160,204,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,3.93,154,3.4,101,33,5.2,4.46,120,154,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2.76,151,4.4,111,27,4.8,2.66,150,268,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1.26,144,5.3,105,19,8.2,3.17,168,311,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,5.02,128,4.1,95,16,1.5,6.91,144,285,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,1.99,129,4.4,111,16,2.6,5.02,94,104,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [16]:
df.insert(5,'managing_anemia',True)

In [17]:
def get_managing_anemia(x):
    if x == 0:
        return 0                         # 0 - continue healthy lifestyle with balanced diet, moderate exercise and good sleep
    elif x == 1:
        return 1                         # 1 - mild anemia can be managed conservatively by prescribing iron rich foods or oral tabs
    elif x == 2:
        return 2                         # 2 - oral tabs + Inj, evaluate for the cause and treat it...
    else:
        return 3                         # 3 - Hospitalization and blood transfusion,evaluate for the cause and treat it..

In [18]:
df['managing_anemia'] = df['Anemic_status'].apply(lambda x: get_managing_anemia(x))

In [19]:
df

,ID,age,sex,Hb_level,Anemic_status,managing_anemia,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,Platelet_count,Sodium_level,Potassium_level,Chloride_level,Bicarbonate_level,Blood_urea_level,Serum_creatinine_level,FPG,OGTT,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,1,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,5.90,138,2.8,94,33,2.4,5.45,128,279,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,2,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,1.76,154,4.9,97,22,5.3,1.53,173,236,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,1,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,4.75,149,4.3,99,20,2.2,3.89,198,318,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,0,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,2.56,139,4.4,107,31,3.5,2.61,197,271,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,1,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1.29,150,3.8,108,18,4.4,7.21,160,204,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,3.93,154,3.4,101,33,5.2,4.46,120,154,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,1,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2.76,151,4.4,111,27,4.8,2.66,150,268,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,0,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1.26,144,5.3,105,19,8.2,3.17,168,311,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,1,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,5.02,128,4.1,95,16,1.5,6.91,144,285,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,1.99,129,4.4,111,16,2.6,5.02,94,104,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [20]:
# 2nd target variable -- 'infection_status'

In [21]:
df.insert(17,'infection_status',True)

In [22]:
def get_infection_status(x):
    if x < 4:
        return 0                        # leucocytopenia
    elif x >= 4 and x < 11:
        return 1                        # normal
    else:
        return 2                        # Leucocytosis

In [23]:
df['infection_status'] = df['WBC'].apply(lambda x: get_infection_status(x))

In [24]:
df.insert(18,'managing_infection',True)

In [25]:
def how_to_manage_infection(x):
    if x == 0:
        return 0        # 0 - evaluate for the low wbc count i.e low immunity, check for HIV,DM or other immunocompromised state
    elif x == 1:
        return 1        # 1 - normal, nothing to worry
    else:
        return 2        # 2 - '!!!there is infection',find the foci of infection and treat the cause with suitable antibiotics

In [26]:
df['managing_infection'] = df['infection_status'].apply(lambda x: how_to_manage_infection(x))

In [27]:
df

,ID,age,sex,Hb_level,Anemic_status,managing_anemia,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,infection_status,managing_infection,Platelet_count,Sodium_level,Potassium_level,Chloride_level,Bicarbonate_level,Blood_urea_level,Serum_creatinine_level,FPG,OGTT,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,1,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,0,0,5.90,138,2.8,94,33,2.4,5.45,128,279,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,2,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,2,2,1.76,154,4.9,97,22,5.3,1.53,173,236,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,1,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,2,2,4.75,149,4.3,99,20,2.2,3.89,198,318,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,0,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,1,1,2.56,139,4.4,107,31,3.5,2.61,197,271,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,1,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1,1,1.29,150,3.8,108,18,4.4,7.21,160,204,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,1,1,3.93,154,3.4,101,33,5.2,4.46,120,154,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,1,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2,2,2.76,151,4.4,111,27,4.8,2.66,150,268,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,0,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1,1,1.26,144,5.3,105,19,8.2,3.17,168,311,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,1,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,2,2,5.02,128,4.1,95,16,1.5,6.91,144,285,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,0,0,1.99,129,4.4,111,16,2.6,5.02,94,104,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [28]:
# 3rd target variable -- 'Bleeding_status'

In [29]:
df.insert(20,'Bleeding_status',True)

In [30]:
conditions = [
    df['Platelet_count'] < 1.5,
    (df['Platelet_count'] >= 1.5) & (df['Platelet_count'] < 5 ),
    df['Platelet_count'] >= 5
]

choices = [0,1,2]         # 0- Thrombocytopenia     1-normal     2-thrombocytosis

df['Bleeding_status'] = np.select(conditions, choices, default=0)

In [31]:
df.insert(21,'managing_platelet_disorders',True)

In [32]:
#now manage platelet disorders......
def how_to_manage_platelet_disorder(x):
    if x == 0:       # Thrombocytopenia
        return 0     # evaluate for the cause and if critical, transfuse platelet precipitates or FFP's
    elif x == 1:
        return 1     # normal......nothing to worry
    else:
        return 2     # Thrombocytosis, evaluate for the cause and treat it ....

In [33]:
df['managing_platelet_disorders'] = df['Bleeding_status'].apply(lambda x: how_to_manage_platelet_disorder(x))

In [34]:
df

,ID,age,sex,Hb_level,Anemic_status,managing_anemia,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,infection_status,managing_infection,Platelet_count,Bleeding_status,managing_platelet_disorders,Sodium_level,Potassium_level,Chloride_level,Bicarbonate_level,Blood_urea_level,Serum_creatinine_level,FPG,OGTT,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,1,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,0,0,5.90,2,2,138,2.8,94,33,2.4,5.45,128,279,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,2,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,2,2,1.76,1,1,154,4.9,97,22,5.3,1.53,173,236,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,1,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,2,2,4.75,1,1,149,4.3,99,20,2.2,3.89,198,318,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,0,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,1,1,2.56,1,1,139,4.4,107,31,3.5,2.61,197,271,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,1,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1,1,1.29,0,0,150,3.8,108,18,4.4,7.21,160,204,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,1,1,3.93,1,1,154,3.4,101,33,5.2,4.46,120,154,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,1,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2,2,2.76,1,1,151,4.4,111,27,4.8,2.66,150,268,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,0,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1,1,1.26,0,0,144,5.3,105,19,8.2,3.17,168,311,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,1,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,2,2,5.02,2,2,128,4.1,95,16,1.5,6.91,144,285,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,0,0,1.99,1,1,129,4.4,111,16,2.6,5.02,94,104,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [39]:
# 4th target variable

df.insert(23,'Sodium_level_status',True)

def get_Sodium_level_status(x):
    if x < 125:
        return 0        # hyponatraemia(correction needed)
    elif x >145:
        return 2        # hypernatraemia (correction needed)
    else:
        return 1        # normal
    
df['Sodium_level_status'] = df['Sodium_level'].apply(lambda x:get_Sodium_level_status(x))

In [43]:
# 5th target variable

df.insert(25,'Potassium_level_status',True)

def get_Potassium_level_status(x):
    if x < 3.5:
        return 0        # hypokalaemia(correction needed)
    elif x >5:
        return 2        # hyperkalaemia (correction needed)
    else:
        return 1        # normal
    
df['Potassium_level_status'] = df['Potassium_level'].apply(lambda x: get_Potassium_level_status(x))

In [42]:
# 6th target variable

df.insert(27,'Chloride_level_status',True)

def get_Chloride_level_status(x):
    if x < 96:
        return 0        # hypochloraemia(correction needed)
    elif x >106:
        return 2        # hyperchloraemia (correction needed)
    else:
        return 1        # normal
    
df['Chloride_level_status'] = df['Chloride_level'].apply(lambda x:get_Chloride_level_status(x))

In [44]:
# 7th target variable

df.insert(29,'Bicarbonate_level_status',True)

def get_Bicarbonate_level_status(x):
    if x < 96:
        return 0        # hypochloraemia(correction needed)
    elif x >106:
        return 2        # hyperchloraemia (correction needed)
    else:
        return 1        # normal
    
df['Bicarbonate_level_status'] = df['Bicarbonate_level'].apply(lambda x:get_Bicarbonate_level_status(x))

In [45]:
df

,ID,age,sex,Hb_level,Anemic_status,managing_anemia,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,infection_status,managing_infection,Platelet_count,Bleeding_status,managing_platelet_disorders,Sodium_level,Sodium_level_status,Potassium_level,Potassium_level_status,Chloride_level,Bicarbonate_level,Chloride_level_status,Bicarbonate_level_status,Blood_urea_level,Serum_creatinine_level,kidney_status,FPG,OGTT,A1C,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,Serum_albumin
0,0,25,0,11.39,1,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,0,0,5.90,2,2,138,1,2.8,0,94,33,0,0,2.4,5.45,1,128,279,7.00,0.25,0.06,0.31,80.6,2,52,65,883,4.50
1,1,70,0,7.92,2,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,2,2,1.76,1,1,154,2,4.9,1,97,22,1,0,5.3,1.53,0,173,236,6.56,0.24,0.20,0.44,54.5,2,81,47,859,5.26
2,2,49,0,9.21,1,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,2,2,4.75,1,1,149,2,4.3,1,99,20,1,0,2.2,3.89,1,198,318,7.11,7.10,10.02,17.12,41.5,2,46,78,614,4.43
3,3,60,1,15.02,0,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,1,1,2.56,1,1,139,1,4.4,1,107,31,2,0,3.5,2.61,1,197,271,7.11,0.20,10.83,11.03,1.8,2,27,20,34,3.67
4,4,37,1,12.48,1,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1,1,1.29,0,0,150,2,3.8,1,108,18,2,0,4.4,7.21,1,160,204,7.63,0.21,11.31,11.52,1.8,2,16,24,84,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,1,1,3.93,1,1,154,2,3.4,0,101,33,1,0,5.2,4.46,1,120,154,6.22,0.13,0.84,0.97,13.4,2,70,28,637,4.18
996,996,70,0,11.05,1,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2,2,2.76,1,1,151,2,4.4,1,111,27,2,0,4.8,2.66,1,150,268,7.86,0.13,0.43,0.56,23.2,2,113,49,419,4.55
997,997,57,0,13.35,0,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1,1,1.26,0,0,144,1,5.3,2,105,19,1,0,8.2,3.17,1,168,311,6.58,0.89,7.30,8.19,10.9,1,167,157,205,1.55
998,998,72,1,10.08,1,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,2,2,5.02,2,2,128,1,4.1,1,95,16,0,0,1.5,6.91,1,144,285,6.55,0.21,0.01,0.22,95.5,2,86,58,765,5.48
999,1000,24,0,6.77,2,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,0,0,1.99,1,1,129,1,4.4,1,111,16,2,0,2.6,5.02,1,94,104,5.04,0.11,9.79,9.90,1.1,2,21,20,90,5.50

In [36]:
# 8th target variable

df.insert(32,'kidney_status',True)

def get_kidney_status(x):
    if x > 2:
        return 1        # unhealthy (high S.Creat level indicates kidney pathology which may be either acute or chronic)
    else:
        return 0        # healthy status

df['kidney_status'] = df['Serum_creatinine_level'].apply(lambda x: get_kidney_status(x))

In [46]:
# 9th target variable

df.insert(36,"Diabetic_status",True)

def get_Diabetic_status(x):
    if x > 6.5:                  # if the HbA1c values > 6.5 , then Diabetic
        return 2
    elif x > 5.7 and x < 6.5:    # if the HbA1c values between 5.7 and 6.5 , then Pre-Diabetic
        return 1
    else :                       # # if the HbA1c values < 5.7 , then normal.
        return 0
    
# Set a length of the list to 1000
for i in range(0, 1000):
    df['Diabetic_status'] = df['A1C'].apply(lambda x: get_Diabetic_status(x))

In [47]:
# 10th target variable

df.insert(45,"LFT_status",True)

# 0 ---> Normal
# 1 ---> Jaundice

def get_LFT_status(x):
    if x > 0 and x < 1:                 
        return 0
    else :                       
        return 1

df['LFT_status'] = df['Total_Bilirubin_count'].apply(lambda x: get_LFT_status(x))

In [48]:
df

,ID,age,sex,Hb_level,Anemic_status,managing_anemia,RBC_count,MCV,HCT,MCH,MCHC,WBC,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,infection_status,managing_infection,Platelet_count,Bleeding_status,managing_platelet_disorders,Sodium_level,Sodium_level_status,Potassium_level,Potassium_level_status,Chloride_level,Bicarbonate_level,Chloride_level_status,Bicarbonate_level_status,Blood_urea_level,Serum_creatinine_level,kidney_status,FPG,OGTT,A1C,Diabetic_status,Conjugated_Bilirubin_count,Unconjugated_Bilirubin_count,Total_Bilirubin_count,Conjugated/Total_bilirubin_Ratio,urine_bile_salts,AST,ALT,ALP,LFT_status,Serum_albumin
0,0,25,0,11.39,1,1,4.62,79,36.50,24.65,31.21,3.4,2.37,0.88,0.22,0.07,0.10,0,0,5.90,2,2,138,1,2.8,0,94,33,0,0,2.4,5.45,1,128,279,7.00,2,0.25,0.06,0.31,80.6,2,52,65,883,0,4.50
1,1,70,0,7.92,2,2,3.13,82,25.67,25.30,30.85,18.0,12.56,4.68,1.18,0.35,0.55,2,2,1.76,1,1,154,2,4.9,1,97,22,1,0,5.3,1.53,0,173,236,6.56,2,0.24,0.20,0.44,54.5,2,81,47,859,0,5.26
2,2,49,0,9.21,1,1,4.39,81,35.56,20.98,25.90,15.7,10.95,4.09,1.03,0.31,0.48,2,2,4.75,1,1,149,2,4.3,1,99,20,1,0,2.2,3.89,1,198,318,7.11,2,7.10,10.02,17.12,41.5,2,46,78,614,1,4.43
3,3,60,1,15.02,0,0,5.08,94,47.75,29.57,31.46,5.5,3.84,1.43,0.36,0.11,0.17,1,1,2.56,1,1,139,1,4.4,1,107,31,2,0,3.5,2.61,1,197,271,7.11,2,0.20,10.83,11.03,1.8,2,27,20,34,1,3.67
4,4,37,1,12.48,1,1,4.79,77,36.88,26.05,33.84,4.7,3.28,1.22,0.31,0.09,0.14,1,1,1.29,0,0,150,2,3.8,1,108,18,2,0,4.4,7.21,1,160,204,7.63,2,0.21,11.31,11.52,1.8,2,16,24,84,1,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,63,0,8.54,2,2,3.06,84,25.70,27.91,33.23,9.8,6.84,2.55,0.64,0.19,0.30,1,1,3.93,1,1,154,2,3.4,0,101,33,1,0,5.2,4.46,1,120,154,6.22,1,0.13,0.84,0.97,13.4,2,70,28,637,0,4.18
996,996,70,0,11.05,1,1,3.97,82,32.55,27.83,33.95,11.4,7.95,2.97,0.75,0.22,0.35,2,2,2.76,1,1,151,2,4.4,1,111,27,2,0,4.8,2.66,1,150,268,7.86,2,0.13,0.43,0.56,23.2,2,113,49,419,0,4.55
997,997,57,0,13.35,0,0,4.08,86,35.09,32.72,38.05,10.3,7.19,2.68,0.68,0.20,0.31,1,1,1.26,0,0,144,1,5.3,2,105,19,1,0,8.2,3.17,1,168,311,6.58,2,0.89,7.30,8.19,10.9,1,167,157,205,1,1.55
998,998,72,1,10.08,1,1,4.55,92,41.86,22.15,24.08,12.9,9.00,3.36,0.85,0.25,0.39,2,2,5.02,2,2,128,1,4.1,1,95,16,0,0,1.5,6.91,1,144,285,6.55,2,0.21,0.01,0.22,95.5,2,86,58,765,0,5.48
999,1000,24,0,6.77,2,2,2.80,83,23.24,24.18,29.13,3.9,2.72,1.01,0.26,0.08,0.12,0,0,1.99,1,1,129,1,4.4,1,111,16,2,0,2.6,5.02,1,94,104,5.04,0,0.11,9.79,9.90,1.1,2,21,20,90,1,5.50

There are still many more target variables which can be added but as this project is for intuition purpose, let me stop and build the AI models from here on...

Its just not getting the status of specific tests but we can also get immediate operating protocol for the specific abnormalities....Lets see on the next notebook...