In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'D:\DSF\PROJECTPRO\MEDICAL_PROJECTS\finalised_anemia.csv')

In [3]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,not_done,microcytic,41.58,normal,normal_count,0.77,1.64,not_done,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,not_done,microcytic,11.69,not_done,normal_count,0.71,1.33,not_done,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,not_done,normocytic,65.00,not_done,normal_count,8.61,4.25,not_done,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,not_done,microcytic,143.91,"HbA2,HbF +ve",normal_count,0.62,3.45,not_done,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,positive,normocytic,119.00,not_done,normal_count,0.86,4.12,not_done,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,not_done,macrocytic,51.00,not_done,normal_count,0.68,3.21,not_done,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,not_done,macrocytic,27.00,not_done,normal_count,1.07,3.03,not_done,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,not_done,microcytic,188.18,"HbA2,HbF +ve",normal_count,0.99,3.39,not_done,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,not_done,microcytic,162.71,normal,normal_count,0.95,3.82,not_done,569.00,Anemia_of_chronic_disorder
980,not_done,64,1,0.20,0.44,118.0,not_done,microcytic,158.19,normal,normal_count,0.93,1.49,not_done,766.00,Anemia_of_chronic_disorder

In [9]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,microcytic,41.58,normal,normal_count,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,microcytic,11.69,1000,normal_count,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,normocytic,65.00,1000,normal_count,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,microcytic,143.91,"HbA2,HbF +ve",normal_count,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,positive,normocytic,119.00,1000,normal_count,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,macrocytic,51.00,1000,normal_count,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,macrocytic,27.00,1000,normal_count,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,microcytic,188.18,"HbA2,HbF +ve",normal_count,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,microcytic,162.71,normal,normal_count,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,microcytic,158.19,normal,normal_count,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder

In [10]:
def convert_Peripheral_Smear(x):
    if x == 'Microcytic':               #low
        return 7
    elif x == 'Normocytic':             #normal
        return 8
    else:
        return 9                        #high

In [11]:
df['Peripheral_Smear'] = df['Peripheral_Smear'].apply(lambda x: convert_Peripheral_Smear(x))

In [12]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,9,41.58,normal,normal_count,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,9,11.69,1000,normal_count,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,9,65.00,1000,normal_count,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,9,143.91,"HbA2,HbF +ve",normal_count,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,positive,9,119.00,1000,normal_count,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,9,51.00,1000,normal_count,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,9,27.00,1000,normal_count,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,9,188.18,"HbA2,HbF +ve",normal_count,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,9,162.71,normal,normal_count,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,9,158.19,normal,normal_count,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder

In [13]:
df['Coombs_test'].value_counts()

1000        821
negative     84
positive     76
Name: Coombs_test, dtype: int64

In [14]:
def convert_Coombs_test(x):
    if x == 'positive':              
        return 5
    elif x == 'negative':           
        return 6
    else:
        return x

In [15]:
df['Coombs_test'] = df['Coombs_test'].apply(lambda x: convert_Coombs_test(x))

In [16]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,9,41.58,normal,normal_count,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,9,11.69,1000,normal_count,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,9,65.00,1000,normal_count,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,9,143.91,"HbA2,HbF +ve",normal_count,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,5,9,119.00,1000,normal_count,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,9,51.00,1000,normal_count,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,9,27.00,1000,normal_count,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,9,188.18,"HbA2,HbF +ve",normal_count,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,9,162.71,normal,normal_count,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,9,158.19,normal,normal_count,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder

In [19]:
def convert_Other_blood_cell_count(x):
    if x == 'normal_count':              
        return 15
    else:
        return 14

In [21]:
df['Other_blood_cell_count\(Pancytopenia +/-)'] = df['Other_blood_cell_count\(Pancytopenia +/-)'].apply(lambda x: convert_Other_blood_cell_count(x))

In [23]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,9,41.58,normal,15,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,9,11.69,1000,15,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,9,65.00,1000,15,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,9,143.91,"HbA2,HbF +ve",15,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,5,9,119.00,1000,15,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,9,51.00,1000,15,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,9,27.00,1000,15,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,9,188.18,"HbA2,HbF +ve",15,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,9,162.71,normal,15,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,9,158.19,normal,15,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder

In [24]:
def convert_Hb_electrophoresis(x):
    if x == 'normal':              
        return 13
    elif x == 'HbA2,HbF +ve':
        return 12
    else:
        return x

In [25]:
df['Hb_electrophoresis'] = df['Hb_electrophoresis'].apply(lambda x: convert_Hb_electrophoresis(x))

In [26]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,9,41.58,13,15,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,9,11.69,1000,15,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,9,65.00,1000,15,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,9,143.91,12,15,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,5,9,119.00,1000,15,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,9,51.00,1000,15,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,9,27.00,1000,15,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,9,188.18,12,15,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,9,162.71,13,15,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,9,158.19,13,15,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder

In [27]:
df['Serum_electrophoresis'].value_counts()

1000        975
MM-spike      6
Name: Serum_electrophoresis, dtype: int64

In [28]:
def get_mm(x):
    if x == 'MM-spike':
        return 21
    else:
        return x

In [29]:
df['Serum_electrophoresis'] = df['Serum_electrophoresis'].apply(lambda x: get_mm(x))

In [30]:
df

,ID,age,sex,Retic_count,Bilirubin_count,LDH_count,Coombs_test,Peripheral_Smear,Ferritin_level,Hb_electrophoresis,Other_blood_cell_count\(Pancytopenia +/-),Serum_Creatinine,TSH_Level,Serum_electrophoresis,B12_or_Folate_levels,CLASS
0,0,51,0,0.40,0.51,135.0,1000,9,41.58,13,15,0.77,1.64,1000,228.00,Anemia_of_chronic_disorder
1,1,15,1,0.08,0.22,23.0,1000,9,11.69,1000,15,0.71,1.33,1000,398.00,Iron_deficiency_Anemia
2,2,74,1,2.18,0.58,77.0,1000,9,65.00,1000,15,8.61,4.25,1000,617.00,chronic_kidney_disease
3,3,66,0,0.38,0.60,25.0,1000,9,143.91,12,15,0.62,3.45,1000,426.00,Thalassemia
4,4,30,1,4.62,3.87,628.0,5,9,119.00,1000,15,0.86,4.12,1000,525.00,Aquired_hemolytic_Anemia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,995,38,0,1.91,0.27,127.0,1000,9,51.00,1000,15,0.68,3.21,1000,452.42,eval_for_systemic_disorder
977,996,70,0,2.28,0.58,109.0,1000,9,27.00,1000,15,1.07,3.03,1000,153.15,B12_deficiency
978,997,41,1,0.42,0.77,120.0,1000,9,188.18,12,15,0.99,3.39,1000,210.00,Thalassemia
979,998,54,1,0.08,0.31,54.0,1000,9,162.71,13,15,0.95,3.82,1000,569.00,Anemia_of_chronic_disorder
980,1000,64,1,0.20,0.44,118.0,1000,9,158.19,13,15,0.93,1.49,1000,766.00,Anemia_of_chronic_disorder